<div class="page-content">
    <div class="view-one-item">
        <i routerLink="/all-items" class="fa fa-chevron-left"></i>
        <img class="img-fluid" src="assets/images/{{oneItemData.itemImage}}">
        <div class="item-details">
            <h4> {{oneItemData.arName}} </h4>
            <p> item desc  - Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since ..</p>
            <div class="sizes">
                <ul>
                    <li *ngFor="let item of oneItemData.sizes"> <span class="size"> {{item.arName}} : </span> <span class="price"> {{item.price}}  EGP</span> </li>
                </ul>
            </div>
        </div> <!-- item-details -->
    </div> <!-- one-item -->
</div> <!-- page-content -->