<div class="page-content">
    <div class="view-one-item">
        <i class="fa fa-chevron-left"></i>
        <img class="img-fluid" src="assets/images/item.jpg">
        <div class="item-details">
            <h4> hot chocolate </h4>
            <p> item desc  - Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since ..</p>
            <div class="sizes">
                <ul>
                    <li> <span class="size"> Small : </span> <span class="price"> 20  EGP</span> </li>
                    <li> <span class="size"> Meduim : </span> <span class="price"> 30 EGP </span> </li>
                    <li> <span class="size"> Large : </span> <span class="price"> 40 EGP </span> </li>
                </ul>
            </div>
        </div> <!-- item-details -->
    </div> <!-- one-item -->
</div> <!-- page-content -->