/* You can add global styles to this file, and also import other style files */


body {
    color: #ffffff;
    background-color: #10100f;
    font-family: "Roboto", sans-serif;
}


.all-items .one-item {
    cursor: pointer;
}
